body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.nav {
    height: 69px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.page-sections {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
}

.page-sections__links {
    color: white;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    height: 700px;
    width: 1200px;
    text-align: center;
    /*top: 69px;*/
    margin: 0 auto;
    position: relative;
}

.mission-img {
    width: 100%;
}

.mission-text {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
    color: seashell;
    padding: 1%;
}

.mission-text__text {
    margin: 0;
}

#mission-text__text__h2 {
    margin-bottom: 0.5em;
}

.tea-month {
    top: 7.5em;
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
}

.tea-month__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-month__options__container {
    width: 300px;
    height: 200px;
    margin-bottom: 2em;
}

.tea-month__options__container__image {
    width: 100%;
    height: 100%;
}

.locations { 
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.locations__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.locations__container {
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
}

.locations__container__address {
    display: inline-block;
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.address {
    line-height: 3em;
}

.footer {
    text-align: center;
    height: 200px;
}

.copyright {
    position: absolute;
    left: 20px;
}