body {
  background-color: #fcfcfc;
  color: #db6363;
  text-align: center;
}

.grid {
 display: grid;
 grid-template: 100px 500px 5fr 4fr 5fr 80px / repeat(6, 1fr);
 gap: 20px;
}

header {
  grid-column: 1 / span 6;
  display: grid;
}

.title {
  margin: auto;
  color: #F06449;
  font-family: Poppins;
  font-size: 2em;
  font-weight: 700;
}

.banner {
  padding: 3%;
  background-color: #F06449;
  color: #36382E;
  font-family: Poppins;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 3.7px;
  grid-column: 1 / span 6;
  position: relative;
  overflow: hidden;
}

p, .banner-contents {
  max-width: 80%;
  margin: auto;
}

.banner-contents__image {
    max-width: 300px;
    height: auto;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.about {
  background-color: #f0f0f0;
  grid-column: 1 / span 6;
  display: grid;
}

.text {
  color: #2f2d2d;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.box {
  background-color: #36382E;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  display: grid;
}

.address {
  grid-column: 1 / span 2;
}

.hours {
  grid-column: 3 / span 2;
}

.call-us {
  grid-column: 5 / span 2;
}

.icon {
  height: 80px;
  margin: auto;
}

.testimonial {
  background-color: #f0f0f0;
  color: #F06449;
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 3.7px;
  display: grid;
}

.one {
  grid-column: 1 / span 3;
}

.two {
  grid-column: 4 / span 3;
}

footer {
  background-color: #F06449;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.4px;
  grid-column: 1 / span 6;
  display: grid;
}