.bottom-container
    width: 100%
    height: 55.25%
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)

    &__get-started
        width: 83.4%
        margin-top: 269px
        margin-left: 69px

        &__description
            width: 78.6%

    &__information
        grid-row-start: 2
        grid-column-start: 1
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        justify-content: center

        #one
            grid-row-start: 1
            grid-column-start: 1
            width: 40%

        #two
            grid-row-start: 1
            grid-column-start: 2

        #three
            grid-area: 2 / 1 / span 2 / span 2

    &__image-container
        width: 100%
        height: 71.6%
        grid-row-start: 1
        grid-column-start: 2
        grid-row: span 2

        &__image
            width: 100%
            height: 100%
            margin-top: 203px


