html {
    width: 1440px;
    height: 1024px;
    /* malo para responsive. alternativa? */
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.top-container {
    display: flex;
    position: relative;
    height: 55%;
}

.main {

}

.top-container__images-container {
    width: 547.67px;
    height: 518.66px;
    position: relative;
}

.top-container__images-container__image {
    position: absolute;
    height: 385px;
    width: 323px;
}

.bottom-container {
    height: 45%;
    position: relative;
}

.bottom-container__list {
    color: white;
    background-color: #252525;
    display: flex;
    border-radius: 15px;
    width: 1312px;
    height: 298px;
    position: absolute;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

.bottom-container__list__items {
    margin: 64px 64px;
    font-size: 24px;
}

.bottom-container__list__items__title {
    margin-top: 36px;
}